*
{
    padding:0;
    margin:0;
}

html
{
    color:white;
}

img
{
    position: absolute;
    top:0px;
    left:0px;
    height:100vh;
    width:100vw;
    z-index: -1;
}

canvas
{
    background-image: url("../media/scenes/loading.png");
    position: relative;
    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    max-width: 100vw;
    max-height:100vh;
    z-index: 0;

}

@media only screen and (max-device-width: 700px)
{
    canvas{
        height:95vh;
        width: 100vw;
    }

}